{
  "$schema": "https://opencode.ai/config.json",
  "instructions": [
    "AGENTS.md",
    "{{HOME}}/.agents/AGENTS.md",
    "{{HOME}}/.claude/rules/*.md"
  ],
  "mcp": {
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "enabled": true,
      "headers": {
        "CONTEXT7_API_KEY": "{{CONTEXT7_API_KEY}}"
      }
    },
    "notion": {
      "type": "remote",
      "url": "https://mcp.notion.com/mcp",
      "enabled": true
    }
  },
  "plugin": [
    "@zilliz/memsearch-opencode"
  ],
  "lsp": true,
  "permission": {
    "*": "allow",
    "bash": {
      "*": "allow",
      "rm -rf *": "deny",
      "rm -r *": "deny",
      "sudo *": "deny",
      "chmod 777 *": "deny"
    },
    "external_directory": {
      "~/code/**": "allow",
      "~/.claude/**": "allow",
      "~/.agents/**": "allow",
      "//tmp/**": "allow",
      "//private/tmp/**": "allow"
    }
  }
}